@model List<Empleado>

<h4>Empleados Almacenados Session OK</h4>

<a asp-asp-controller="Empleados" asp-action="SessionEmpleadosOK">
    Volver a Empleados Almacenados
</a>

<h4 style="color:red">
    @ViewData["MENSAJE"]
</h4>

@if (Model != null)
{
    <table class="table table-active table-bordered table-hover">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Oficio</th>
                <th>Salario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Empleado emp in Model)
            {
                <tr>
                    <td>@emp.Apellido</td>
                    <td>@emp.Oficio</td>
                    <td>@emp.Salario</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <ul class="list-group">
        @foreach (Empleado emp in Model)
        {
            <li class="list-group-item">
                @emp.Apellido, @emp.Oficio, @emp.Salario
            </li>
        }
    </ul>
}